<a href="https://colab.research.google.com/drive/1z78Jr882qr1cLGaN0b1vwfCkct3g5ObB?usp=sharing" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import requests
import json

In [ ]:
clubes = pd.read_csv('/content/drive/MyDrive/ProjetoSA/2020/CIDADES.csv')
clubes['Times'] = clubes['Times'].str.replace(r'\(|[0-9]|\)|[.]', '')

### Funções

In [ ]:

def adcCidades (dataf, col):
  z = 0
  while z < 38:
    x = 0
    while x < 35:
      if clubes['Times'][x] == dataf[col][z]:
        dataf[col][z] = clubes['Cidade'][x]
        x = 35
      else:
        x += 1
    z += 1
  return dataf

def apiMaps (source, dest):
    api_key =''  #necessario possuir uma key da api maps - distancematrix
    url ='https://maps.googleapis.com/maps/api/distancematrix/json?'
    r = requests.get(url + 'origins=' + source +
                     '&destinations=' + dest +
                     '&key=' + api_key)
    return r.json()

def distancia (apiM):
  if apiM != 0:
    for row in apiM['rows']:
      for distance in row['elements']:
        for tipo,text in distance['distance'].items():
          if tipo == 'text':
            return text
  else:
    return 0

def mult (km):
  for index, value in km.items():
    km[index] = float(value) * 2
  return km

def soma (km):
  soma = 0
  for index, value in km.items():
    soma = soma + value
  return soma

def insertKm (elementos, cidade):
  tamanho = len(elementos.index)
  i = 0
  while i < tamanho:
    source = elementos['TIME_CASA'][i]
    dest = elementos['TIME_VISITANTE'][i]
    if source == cidade:
      elementos['km'][i] = '0'
      i += 1
    else:
      elementos['km'][i] = distancia(apiMaps (source, dest))
      i += 1
  elementos['km'] = elementos['km'].str.replace(r'\s|[a-z]|[,]', '')
  return elementos

### Leitura

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ProjetoSA/AA.csv')
df['TIME_CASA'] = df['TIME_CASA'].str.replace(r'\(|[0-9]|\)|[.]', '')
df['TIME_VISITANTE'] = df['TIME_VISITANTE'].str.replace(r'\(|[0-9]|\)|[.]', '')
df = adcCidades (df, 'TIME_CASA')
df = adcCidades (df, 'TIME_VISITANTE')
df.insert(2, "km", 0)

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/ProjetoSA/AB.csv')
df3['TIME_CASA'] = df3['TIME_CASA'].str.replace(r'\(|[0-9]|\)|[.]', '')
df3['TIME_VISITANTE'] = df3['TIME_VISITANTE'].str.replace(r'\(|[0-9]|\)|[.]', '')
df3 = adcCidades (df3, 'TIME_CASA')
df3 = adcCidades (df3, 'TIME_VISITANTE')
df3.insert(2, "km", 0)

In [ ]:
df4 = pd.read_csv('/content/drive/MyDrive/ProjetoSA/AC.csv')
df4['TIME_CASA'] = df4['TIME_CASA'].str.replace(r'\(|[0-9]|\)|[.]', '')
df4['TIME_VISITANTE'] = df4['TIME_VISITANTE'].str.replace(r'\(|[0-9]|\)|[.]', '')
df4 = adcCidades (df4, 'TIME_CASA')
df4 = adcCidades (df4, 'TIME_VISITANTE')
df4.insert(2, "km", 0)

In [ ]:
df5 = pd.read_csv('/content/drive/MyDrive/ProjetoSA/AD.csv')
df5['TIME_CASA'] = df5['TIME_CASA'].str.replace(r'\(|[0-9]|\)|[.]', '')
df5['TIME_VISITANTE'] = df5['TIME_VISITANTE'].str.replace(r'\(|[0-9]|\)|[.]', '')
df5 = adcCidades (df5, 'TIME_CASA')
df5 = adcCidades (df5, 'TIME_VISITANTE')
df5.insert(2, "km", 0)

## Chamadas

### df2

In [ ]:
time = df['TIME_VISITANTE'][0]
df = insertKm (df, time)
df22 = df.copy()

In [ ]:
df22['km'] = mult(df['km'])
df22.head(5)

             TIME_CASA       TIME_VISITANTE    km
0        SÃO PAULO, SP  RIO DE JANEIRO, RJ    870
1  RIO DE JANEIRO, RJ            RECIFE, PE     0
2  RIO DE JANEIRO, RJ         SÃO PAULO, SP     0
3        FORTALEZA, CE  RIO DE JANEIRO, RJ   5170
4  RIO DE JANEIRO, RJ      PORTO ALEGRE, RS     0

### df3

In [ ]:
time = df3['TIME_CASA'][0]
df3 = insertKm (df3, time)
df33 = df3.copy()

In [ ]:
df33['km'] = mult(df3['km'])
df33.head(5)

       TIME_CASA TIME_VISITANTE    km
0    GOIÂNIA, GO  SÃO PAULO, SP     0
1  CURITIBA, PR     GOIÂNIA, GO  2572
2  SÃO PAULO, SP    GOIÂNIA, GO  1800
3    GOIÂNIA, GO  FORTALEZA, CE     0
4    GOIÂNIA, GO    GOIÂNIA, GO     0

### df4

In [ ]:
time = df4['TIME_CASA'][0]
print(time)
df4 = insertKm (df4, time)
df44 = df4.copy()

CURITIBA, PR

In [ ]:
df44['km'] = mult(df4['km'])
df44.head(5)

               TIME_CASA       TIME_VISITANTE    km
0          CURITIBA, PR      PORTO ALEGRE, RS     0
1           SALVADOR, BA        CURITIBA, PR   4718
2          CURITIBA, PR   RIO DE JANEIRO, RJ      0
3          SÃO PAULO, SP        CURITIBA, PR    806
4  BRAGANÇA PAULISTA, SP        CURITIBA, PR    964

### df5

In [ ]:
time = df5['TIME_CASA'][0]
df5 = insertKm (df5, time)
df55 = df5.copy()

In [ ]:
df55['km'] = mult(df5['km'])
df55.head(5)

               TIME_CASA       TIME_VISITANTE    km
0    RIO DE JANEIRO, RJ          SALVADOR, BA     0
1  BRAGANÇA PAULISTA, SP  RIO DE JANEIRO, RJ    910
2          FORTALEZA, CE  RIO DE JANEIRO, RJ   5170
3    RIO DE JANEIRO, RJ    BELO HORIZONTE, MG     0
4    RIO DE JANEIRO, RJ   RIO DE JANEIRO, RJ      0

### Resultado

In [ ]:
print(soma(df22['km']))
print(soma(df33['km']))
print(soma(df44['km']))
print(soma(df55['km']))

38636.0
51074.0
45084.0
38636.0

In [ ]:
df44 = df44.fillna(0)
df44

## Gravar csv

In [ ]:
df22.to_csv(path_or_buf='/content/drive/MyDrive/ProjetoSA/2020/VascoDaGama', sep=';', index=False)

In [ ]:
df33.to_csv(path_or_buf='/content/drive/MyDrive/ProjetoSA/2020/Goias', sep=';', index=False)

In [ ]:
df44.to_csv(path_or_buf='/content/drive/MyDrive/ProjetoSA/2020/Coritiba', sep=';', index=False)

In [ ]:
df55.to_csv(path_or_buf='/content/drive/MyDrive/ProjetoSA/2020/Botafogo', sep=';', index=False)